@import "../../scss/variables";

.comments {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  padding: 8px 5px;
}

.comment-summary-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 8px;
  }
}

.comment-actions-mobile {
  display: flex;
  //align-items: center;
  justify-content: space-evenly;
  a {
    margin: 0;
    padding: 10px 1px;
    text-decoration: none;
  }

  .divider {
    background: $line-color;
  }
}

.push {
  margin-left: auto;
}

div .media img {
  margin: 5px;
  border-radius: 50%;
  padding: 8px;
}

div.content {
  header {
    h4 {
      margin: 15px 0 0 0;
    }
  }
}

.comment-replies {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;

  input[type="text"] {
    align-self: center;
    padding: 5px 5px;
    margin-bottom: 15px;
    border-style: none;
    width: 97%;
  }
}

.reply {
  * {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}