@import "../../scss/global";

.comment-container {
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}

.comment-text {

}

.comment-actions {
  display: flex;
  align-items: start;
  justify-content: start;
  a {
    padding-right: 3rem;
  }
}

div .media img {
  margin: 5px;
  border-radius: 50%;
  padding: 15px 7px;
}

div.content {
  header {
    h4 {
      margin: 15px 0 0 0;
    }
  }
}