@import "../../scss/variables";

.comments {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  padding: 8px 5px;

  .comment-actions a{
    margin-right: 20px;
    text-decoration: none;

    @media only screen and (max-width: 767px) {
      /* phones */
      display: none;
    }
  }
}

.comment-summary-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 8px;
  }
}

#comments-summary {
  font-size: 90%;
  color: darkgray;
}

span.circle {
  display: inline-block;
  border-radius: 50%;
  border: white 2px solid;
  width: 20px;
  height: 20px;
  margin-right: -8px;
}

.comment-actions-mobile {
  display: flex;
  //align-items: center;
  justify-content: space-evenly;
  a {
    margin: 0;
    padding: 10px 1px;
    text-decoration: none;
    color: $text-color-primary;
  }

  .divider {
    background: $line-color;
  }

  @media only screen and (min-width: 768px) {
    /* phones */
    display: none;
  }
}


.push {
  margin-left: auto;
}

div .media img {
  margin: 5px;
  border-radius: 50%;
  padding: 8px;
}

div.content {
  header {
    h4 {
      margin: 15px 0 0 0;
    }
  }
}

.comment-replies {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;

  > form{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5px;

    input[type="text"] {
      border-style: none;
      padding: 5px;
      margin: 10px;
    }
  }
}

.reply {
  * {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}
