@import "src/scss/variables";

section.publish {
  input[type="text"] {
    margin: 0 7px;
    padding: 5px;
    border-style: none;
    width: 97%;
    color: $text-color-primary;
  }
}

.btn-publish {
  display: flex;
  justify-content: end;
  padding: 5px;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .btn-publish {
    display: none;
  }
}